@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('./iconfont.ttf?t=1675841977739') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fenxiang:before {
  content: "\e624";
}

.icon-fanhui:before {
  content: "\e625";
}

.icon-guanbi:before {
  content: "\e626";
}

.icon-bofang:before {
  content: "\e627";
}

.icon-zanting:before {
  content: "\e629";
}

.icon-jiantoushang:before {
  content: "\e62c";
}

.icon-jiantoushang1:before {
  content: "\e62d";
}

.icon-jiantouyou:before {
  content: "\e62e";
}

.icon-jiantouxia:before {
  content: "\e62f";
}

.icon-wode:before {
  content: "\e630";
}

.icon-shouye:before {
  content: "\e631";
}

.icon-fenlei:before {
  content: "\e632";
}

.icon-xuanzhong:before {
  content: "\e637";
}

.icon-cainixihuan:before {
  content: "\e652";
}

.icon-huanyihuan:before {
  content: "\e653";
}

.icon-wangyiyunyinle:before {
  content: "\e63c";
}

.icon-kaishi:before {
  content: "\e601";
}

.icon-sousuo:before {
  content: "\e602";
}

.icon-shezhi:before {
  content: "\e603";
}

.icon-shanchu:before {
  content: "\e604";
}

.icon-xiazai:before {
  content: "\e605";
}

.icon-zhanghao:before {
  content: "\e606";
}

.icon-xiugai:before {
  content: "\e607";
}

.icon-shouye1:before {
  content: "\e608";
}

.icon-aixin:before {
  content: "\e609";
}

.icon-gengduo:before {
  content: "\e60a";
}

